
<footer class="text-center mt-5 mb-4 text-muted">

    <p>© 2025 AlbiClick — Análise de Dados & Business Intelligence</p>
    <p>
        Email:
        <a href="mailto:youssuf.abdula@albiclick.com">
            youssuf.abdula@albiclick.com
        </a>
        &nbsp;|&nbsp;
        Tel:
        <a href="tel:+351914075516">+351 914 075 516</a>
    </p>

    <p class="text-muted">
    <a href="{{ url_for('privacidade') }}" class="text-muted">
        Política de Privacidade
    </a>
</p>
</footer>

